/* 1. 속성선택자 */
a[href] {
  color: blue;
}
a[href = "https://www.google.co.kr/"]
{
  color: tomato;
  font-size: 50px;
  text-decoration: none;
}

form > input[type="text"] {
  border: blue solid 2px;
}

/* 2. 링크선택자 */
a[href = "https://www.kakaocorp.com/"]:link::after
{
  content: "-" attr(href);
}

/* 3. 부정선택자 */

form :not(a) {
  background-color: yellow;
}

/* 4. 문자선택자 */
h6::first-line {
  font-size: 50px;
  font-weight: lighter;
}
h6::first-letter {
  font-size: 80px;
  font-weight: bold;
}
body a {
  font-weight: bold;
}
h6:hover {
  background-color: red;
}
input:focus {
  border-radius: 7px;
  border: tomato 3px solid;
  width: 300px;
  height: 60px;
}

div:nth-child(1) {
  font-size: 80px;
}
div:nth-child(2) {
  font-size: 5em;
  /* display: none; */
  visibility: visible;
  width: 1100px;
  height: 300px;
  opacity: 0.7;
}
div:nth-child(3) {
  font-size: 500%;
  opacity: 0.5;
}

#ddd {
  /* position: relative; */
}
#square {
  background-color: tomato;
  width: 100px;
  height: 100px;

  font-size: 30px;
  text-align: center;
  line-height: 100px;
  position: relative;

  animation-name: ani1;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes ani1 {
  from {
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
  }
  to {
    left: 500px;
    top: 610px;
    transform: rotate(360deg);
  }
}
