* {
  padding: 0%;
  margin: 0%;
  list-style: none;
}
/* info */
.infoBar {
  height: 60px;
  background-color: #003b8e;
}
#weather {
  height: 30px;
  line-height: 30px;
  text-align: right;
  box-sizing: border-box;

  color: aliceblue;
}
#geo {
  height: 30px;
  line-height: 30px;
  text-align: right;
  box-sizing: border-box;

  color: aliceblue;
}

/* header */
.header {
  height: 200px;
  box-sizing: border-box;
}
/* section */
.section {
  height: 269px;
  box-sizing: border-box;
}
.section :nth-child(1) {
  float: left;
  width: 20%;
  height: 100%;
  box-sizing: border-box;

  /* background-color: #003b8e; */
  color: aliceblue;
}
.section :nth-child(2) {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;

  text-align: center;
  line-height: 269px;
  font-size: 180px;
  font-weight: bold;
  overflow: hidden;

  background-color: #003b8e;
  color: aliceblue;
}
.section :nth-child(3) {
  float: left;
  width: 30%;
  height: 100%;
  box-sizing: border-box;

  line-height: 370px;
  font-size: 50px;
  overflow: hidden;
  padding-left: 10px;

  /* background-color: #003b8e; */
  color: #003b8e;
}
#user {
  text-align: center;
  line-height: 200px;
}

.header div :nth-child(1) {
  width: 40%;
  height: 50px;
  font-size: 32px;
  text-align: center;
}
.header div :nth-child(2) {
  font-size: 48px;
  font-weight: bold;
}

/* footer */
.footer {
  height: 500px;
  box-sizing: border-box;
}

.query {
  height: 50px;
  line-height: 50px;

  box-sizing: border-box;
  padding-top: 50px;
  /* background-color: ; */
}
.query > div {
  float: left;
  width: 50%;

  text-align: right;
  box-sizing: border-box;
  padding-right: 20px;
  font-size: 32px;
}
.query form {
  width: 50%;
  float: left;
}
.query form input {
  text-align: center;
  width: 300px;
  height: 30px;
  font-size: 20px;
}

/* etc */
.showing {
  display: none;
}
.listOrdering {
  clear: both;
  width: 300px;
  height: 60px;
  line-height: 60px;

  border: 1px solid yellowgreen;
  background-color: yellowgreen;
  margin: 3px 0%;
  margin-left: 50%;

  text-align: center;
}

.btnFix {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-left: 10px;

  font-size: 20px;
  color: azure;
  border: none;
  border-radius: 15px;
  background-color: tomato;

  vertical-align: super;
}
.contentFix {
  font-size: 32px;
  font-weight: bold;
  /* color: ; */
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
